<div class="container">
    <div class=" justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="card-header">User Registation</div>
                <div class="card-body">

                    <form class="form-horizontal" [formGroup]="form" (ngSubmit)="userRegistation();">

                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" formControlName="name"  placeholder="Enter your Name" />
                                </div>
                            </div>
                            <div class="errors" *ngIf="submitted && formCheck.name.errors">
                                <div class="errors" *ngIf ="formCheck.name.errors.required">
                                    *Please enter Name.
                                </div>
                                <div class="errors" *ngIf ="formCheck.name.errors.minlength || formCheck.name.errors.maxlength">
                                    *Name should be between 2 to 45 characters long.
                                </div>	
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Email</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" formControlName="email" placeholder="Enter your Email" />
                                </div>
                            </div>
                            <div class="errors" *ngIf="submitted && formCheck.email.errors">
                                <div class="errors" *ngIf ="formCheck.email.errors.required">
                                    *Please enter email.
                                </div>
                                <div class="errors" *ngIf ="formCheck.email.errors.pattern">
                                    *Please enter a valid email address.
                                </div>	
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="mobileNumber" class="cols-sm-2 control-label">Mobile Number</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" formControlName="mobileNumber"  placeholder="Enter your mobile number" (keypress)="numberOnly($event)"/>
                                </div>
                            </div>
                            <div class="errors" *ngIf="submitted && formCheck.mobileNumber.errors">
                                <div class="errors" *ngIf ="formCheck.mobileNumber.errors.required">
                                    *Please enter mobile number.
                                </div>
                                <div class="errors" *ngIf ="formCheck.mobileNumber.errors.minlength || formCheck.mobileNumber.errors.maxlength">
                                    *Mobile number should be 10 digits long.
                                </div>	
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" formControlName="password"  placeholder="Enter your Password" />
                                </div>
                            </div>
                            <div class="errors" *ngIf="submitted && formCheck.password.errors">
                                <div class="errors" *ngIf ="formCheck.password.errors.required">
                                    *Please enter password.
                                </div>
                                <div class="errors" *ngIf ="formCheck.password.errors.pattern">
                                    *Please enter a valid password.
                                </div>	
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm your Password" />
                                </div>
                            </div>
                            <div class="errors" *ngIf="submitted">
                                <div class="errors" *ngIf ="formCheck.confirmPassword.errors && formCheck.confirmPassword.errors.required ">
                                    *Please enter confirm password.
                                </div>  
                                <div class="errors" *ngIf="form.errors?.mismatch && !(formCheck.confirmPassword.errors && formCheck.confirmPassword.errors.required)">
                                    *Both passwords should be match.
                                </div>	
                            </div>
                        </div>

                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>