/* You can add global styles to this file, and also import other style files */
.errors{font-size:13px;color: #ff6464;}
body {background-image: url('./assets/img/logo.jpg');background-size: cover; background-position: center;}
.card{background:#fff;padding:40px;margin:50px auto;max-width: 600px;}
.card-header{font-size:24px;width:100%;text-align:center;margin-bottom:10px;}

